.page-header
  %h1#timeline
    = @talk.name
= link_to 'WTF', '#', :class => 'btn btn-danger btn-block btn-huge rating'
%br
= link_to 'Awesome', '#', :class => 'btn btn-success btn-block btn-huge rating'