.page-header
  %h1#timeline
    = @talk.name
#rating_widget
  = link_to 'WTF', rate_event_talk_path(@event, @talk, :rating => '-5'), :class => 'btn btn-danger btn-block btn-huge rating'
  %br
  = link_to 'Awesome', rate_event_talk_path(@event, @talk, :rating => '5'), :class => 'btn btn-success btn-block btn-huge rating'


-#.progress
-#  .bar.bar-success{:style => "width: 35%"}35%
-#  .bar.bar-warning{:style => "width: 20%"}20%
-#  .bar.bar-danger{:style => "width: 10%"}10%
-#
-#.progress
-#  .bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", :role => "progressbar", :style => "width: 60%;"}
-#    60%