<% Talk.all.each do |talk| %>
    <div class="container">
      <div class="jumbotron">
        <h1> <%= talk.name %></h1>

        <p> <%= talk.abstract %> </p>

        <p> Starting in <%= distance_of_time_in_words(talk.start_at, Time.now) %> </p>

        <p> Run time : <%= distance_of_time_in_words(talk.start_at, talk.end_at) %> </p>

        <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
      </div>
    </div>
<% end %>

