// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event {
  text-align: center;
  font-size: 40px;
  a:hover {
    text-decoration: none;
  }
}
