// Place all the styles related to the Talks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#talk_name{
  float: left;
}
.page-header {
  margin: 0px 0 0px;
}

.shadow {
  -webkit-box-shadow: 3px 3px 2px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 3px 3px 2px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 3px 3px 2px 0px rgba(50, 50, 50, 0.75);
}

.btn-huge{
  padding: 20px;
  color: #fff;
  width: 200px;
  height: 200px;
  line-height: 150px;
  font-size: 1.4em;
  text-align: center;
  margin: 20px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.time_slot {
  float: left;
  width: 16.66%;

  &:nth-child(11) {
    width: 8.33%;
  }
  &:nth-child(12) {
    width: 8.33%;
    text-align: right;
  }
}

.progress{
  margin-bottom: 5px;

  .mesmerising {
    background-color: #006e2e; /* Old browsers */
    //background: -moz-linear-gradient(top,  #006e2e 0%, #006e2e 100%); /* FF3.6+ */
    //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#006e2e), color-stop(100%,#006e2e)); /* Chrome,Safari4+ */
    //background: -webkit-linear-gradient(top,  #006e2e 0%,#006e2e 100%); /* Chrome10+,Safari5.1+ */
    //background: -o-linear-gradient(top,  #006e2e 0%,#006e2e 100%); /* Opera 11.10+ */
    //background: -ms-linear-gradient(top,  #006e2e 0%,#006e2e 100%); /* IE10+ */
    //background: linear-gradient(to bottom,  #006e2e 0%,#006e2e 100%); /* W3C */
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006e2e', endColorstr='#006e2e',GradientType=0 ); /* IE6-9 */
  }
.awesome {
  background-color: #299a0b; /* Old browsers */
  //background: -moz-linear-gradient(top,  #299a0b 0%, #299a0b 100%); /* FF3.6+ */
  //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#299a0b), color-stop(100%,#299a0b)); /* Chrome,Safari4+ */
  //background: -webkit-linear-gradient(top,  #299a0b 0%,#299a0b 100%); /* Chrome10+,Safari5.1+ */
  //background: -o-linear-gradient(top,  #299a0b 0%,#299a0b 100%); /* Opera 11.10+ */
  //background: -ms-linear-gradient(top,  #299a0b 0%,#299a0b 100%); /* IE10+ */
  //background: linear-gradient(to bottom,  #299a0b 0%,#299a0b 100%); /* W3C */
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#299a0b', endColorstr='#299a0b',GradientType=0 ); /* IE6-9 */

}
.good {
    background-color: #5eb95e;
    //background-image: -moz-linear-gradient(top, #62c462, #57a957);
    //background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#57a957));
    //background-image: -webkit-linear-gradient(top, #62c462, #57a957);
    //background-image: -o-linear-gradient(top, #62c462, #57a957);
    //background-image: linear-gradient(to bottom, #62c462, #57a957);
    //background-repeat: repeat-x;
    //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff57a957', GradientType=0);
  }
.ok {
  background-color: #8fc400; /* Old browsers */
  //background: -moz-linear-gradient(top,  #8fc400 0%, #8fc400 100%); /* FF3.6+ */
  //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8fc400), color-stop(100%,#8fc400)); /* Chrome,Safari4+ */
  //background: -webkit-linear-gradient(top,  #8fc400 0%,#8fc400 100%); /* Chrome10+,Safari5.1+ */
  //background: -o-linear-gradient(top,  #8fc400 0%,#8fc400 100%); /* Opera 11.10+ */
  //background: -ms-linear-gradient(top,  #8fc400 0%,#8fc400 100%); /* IE10+ */
  //background: linear-gradient(to bottom,  #8fc400 0%,#8fc400 100%); /* W3C */
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#8fc400',GradientType=0 ); /* IE6-9 */

}
.hmmm {
  background-color: #b6e026; /* Old browsers */
  //background: -moz-linear-gradient(top,  #b6e026 0%, #abdc28 100%); /* FF3.6+ */
  //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b6e026), color-stop(100%,#abdc28)); /* Chrome,Safari4+ */
  //background: -webkit-linear-gradient(top,  #b6e026 0%,#abdc28 100%); /* Chrome10+,Safari5.1+ */
  //background: -o-linear-gradient(top,  #b6e026 0%,#abdc28 100%); /* Opera 11.10+ */
  //background: -ms-linear-gradient(top,  #b6e026 0%,#abdc28 100%); /* IE10+ */
  //background: linear-gradient(to bottom,  #b6e026 0%,#abdc28 100%); /* W3C */
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6e026', endColorstr='#abdc28',GradientType=0 ); /* IE6-9 */

}

.boring {
  background-color: #ffaf4b; /* Old browsers */
  //background: -moz-linear-gradient(top,  #ffaf4b 0%, #ff920a 100%); /* FF3.6+ */
  //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffaf4b), color-stop(100%,#ff920a)); /* Chrome,Safari4+ */
  //background: -webkit-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%); /* Chrome10+,Safari5.1+ */
  //background: -o-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%); /* Opera 11.10+ */
  //background: -ms-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%); /* IE10+ */
  //background: linear-gradient(to bottom,  #ffaf4b 0%,#ff920a 100%); /* W3C */
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ); /* IE6-9 */
}

.sad {
  background-color: #ff670f; /* Old browsers */
  //background: -moz-linear-gradient(top,  #ff670f 0%, #ff670f 100%); /* FF3.6+ */
  //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff670f), color-stop(100%,#ff670f)); /* Chrome,Safari4+ */
  //background: -webkit-linear-gradient(top,  #ff670f 0%,#ff670f 100%); /* Chrome10+,Safari5.1+ */
  //background: -o-linear-gradient(top,  #ff670f 0%,#ff670f 100%); /* Opera 11.10+ */
  //background: -ms-linear-gradient(top,  #ff670f 0%,#ff670f 100%); /* IE10+ */
  //background: linear-gradient(to bottom,  #ff670f 0%,#ff670f 100%); /* W3C */
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff670f', endColorstr='#ff670f',GradientType=0 ); /* IE6-9 */
}

.cant_stand {
  background-color: #f2825b; /* Old browsers */
  //background: -moz-linear-gradient(top,  #f2825b 0%, #e55b2b 50%, #f07146 100%); /* FF3.6+ */
  //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2825b), color-stop(50%,#e55b2b), color-stop(100%,#f07146)); /* Chrome,Safari4+ */
  //background: -webkit-linear-gradient(top,  #f2825b 0%,#e55b2b 50%,#f07146 100%); /* Chrome10+,Safari5.1+ */
  //background: -o-linear-gradient(top,  #f2825b 0%,#e55b2b 50%,#f07146 100%); /* Opera 11.10+ */
  //background: -ms-linear-gradient(top,  #f2825b 0%,#e55b2b 50%,#f07146 100%); /* IE10+ */
  //background: linear-gradient(to bottom,  #f2825b 0%,#e55b2b 50%,#f07146 100%); /* W3C */
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2825b', endColorstr='#f07146',GradientType=0 ); /* IE6-9 */
}

.crap {
  background-color: #ff3019; /* Old browsers */
  //background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%); /* FF3.6+ */
  //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
  //background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
  //background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
  //background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* IE10+ */
  //background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%); /* W3C */
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}

.wtf {
  background-color: #cc0000; /* Old browsers */
  //background: -moz-linear-gradient(top,  #cc0000 0%, #cc0000 100%); /* FF3.6+ */
  //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc0000), color-stop(100%,#cc0000)); /* Chrome,Safari4+ */
  //background: -webkit-linear-gradient(top,  #cc0000 0%,#cc0000 100%); /* Chrome10+,Safari5.1+ */
  //background: -o-linear-gradient(top,  #cc0000 0%,#cc0000 100%); /* Opera 11.10+ */
  //background: -ms-linear-gradient(top,  #cc0000 0%,#cc0000 100%); /* IE10+ */
  //background: linear-gradient(to bottom,  #cc0000 0%,#cc0000 100%); /* W3C */
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#cc0000',GradientType=0 ); /* IE6-9 */

  }
}

.bar-warning {
  background-color: #f0ad4e !important;
}

.bar-danger {
  background-color: #d9534f !important;
}

.bar-sleep{
  background-color: #fff !important;
}