// Place all the styles related to the Talks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#talk_name{
  float: left;
}
.page-header {
  margin: 0px 0 0px;
}

#talk_name > a {
  text-decoration: none;
  color: black;
}

.shadow {
  -webkit-box-shadow: 3px 3px 2px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 3px 3px 2px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 3px 3px 2px 0px rgba(50, 50, 50, 0.75);
}

.btn-huge{
  padding: 20px;
  color: #fff;
  width: 200px;
  height: 200px;
  line-height: 150px;
  font-size: 1.4em;
  text-align: center;
  margin: 20px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.time_slot {
  float: left;
  width: 16.66%;

  &:nth-child(11) {
    width: 8.33%;
  }
  &:nth-child(12) {
    width: 8.33%;
    text-align: right;
  }
}

.progress{
  margin-bottom: 5px;

  .mesmerising {
    background-color: #006e2e; /* Old browsers */
  }
.awesome {
  background-color: #299a0b; /* Old browsers */
}
.good {
    background-color: #5eb95e;
  }

.ok {
  background-color: #8fc400; /* Old browsers */
}
.hmmm {
  background-color: #b6e026; /* Old browsers */
}

.boring {
  background-color: #ffaf4b; /* Old browsers */
}

.sad {
  background-color: #ff670f; /* Old browsers */
}

.cant_stand {
  background-color: #f2825b; /* Old browsers */
}

.crap {
  background-color: #ff3019; /* Old browsers */
}

.wtf {
  background-color: #cc0000; /* Old browsers */
  }
}

.bar-warning {
  background-color: #f0ad4e !important;
}

.bar-danger {
  background-color: #d9534f !important;
}

.bar-sleep{
  background-color: #fff !important;
}

/* slider at http://seiyria.github.io/bootstrap-slider/ */

.slider{
  margin-left: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
}

.monitor{
  width: 100px;
  height: 100px;
  background: #eee;
  position: relative;
  margin-top: 90px;
  margin-left: 50px;
  float: left;
  border-radius: 100px;
}

.val{
  top: 39px;
  left: 27px;
  position: relative;
  font-size: 80px;
}

.request{
  display: none;
  clear: both;
  width: 200px;
  margin-left: 100px;
}

.instruction{
  clear: both;
  width: 240px;
  margin-left: 100px;
}